<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>Word Fun - the daily word game</title>
		<meta charset="windows-1252">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<div id="nav_header">
			<a href="/">Home</a>
			<a href="/scoreboard">Scoreboard</a>
		</div>
		<div id="user_header">			
		{% if user %}
			Hi, {{user}} <a href="{{logoutUrl}}">Logout</a>
		{% endif %}
		</div><br/>
		{% block content %}
		{% endblock %}
	</body>
</html>
