{% extends "base.html" %}
{% block head %}
	{{block.super}}
	<script src="/static/js/game.js"></script>
{%endblock%}

{% block content %}	
	Today's word definition is:<br>
	<span id='definition'>{{definition}}</span><br><br>

	word length: <span id="word_len">{% if wordLen %} {{wordLen}} {% else %} ? {% endif %}</span><br>
	{% if solved %}
	<hr>
	You have guessed the word in {{attempts}} attempts!
	{% else %}
	<input type='text' id='guess_field' name='guess'/><button id="guess_submit">Submit</button><span id='wrong'>Wrong</span>
	{% endif %}
	<div id="youwin">You guess it!</div>
{%endblock%}
